<div class="row" *ngIf="member">
  <div class="col-4">
    <h1>Your Profile</h1>
  </div>
  <div class="col-8">
    <div class="alert alert-info" *ngIf="editForm.dirty">
      <strong>Information:</strong> You have made changes any unsaved changes will be lost
    </div>
  </div>
  <div class="col-4">
    <div class="card">
      <img src="{{member.photoUrl || './assets/user.png'}}" alt="{{member.knownAs}}"
       class="card-img-top img-thumbnail">
       <div class="card-body">
         <div>
           <strong>Location:</strong>
             <p>{{member.city}}, {{member.country}}</p>
         </div>
         <div>
           <strong>Age:</strong>
            <p>{{member.age}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
            <p>{{member.created}}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
            <p>{{member.lastActive}}</p>
        </div>
       </div>
       <div class="card-footer">
           <button [disabled]="!editForm.dirty" form="editForm"class="btn btn-success btn-block">Save Changes</button>
       </div>
    </div>
  </div>

  <div class="col-8">
    <tabset class="member-tabset">
      <tab heading='About {{member.knownAs}}'>
        <form #editForm="ngForm" id="editForm"(ngSubmit)="updateMember()">
        <div class="form-group mt-2">
        <h4>Description</h4>
        <textarea [(ngModel)]="member.introduction" class="form-control" name="introduction" rows="6"></textarea>
      </div>
      <div class="form-group mt-2">
        <h4>Interests</h4>
        <textarea [(ngModel)]="member.interests"  class="form-control" name="interests" rows="6"></textarea>
      </div>
      <div class="form-group mt-2">
        <h4>Looking For</h4>
        <textarea [(ngModel)]="member.lookingFor"  class="form-control" name="lookingFor" rows="6" ></textarea>
      </div>
      <div class="form-inline mt-2">
        <label for="city">City: </label>
        <input [(ngModel)]="member.city" type="text" name="city"  class="form-control mx-2">
        <label for="city">Country: </label>
        <input [(ngModel)]="member.country"  type="text" name="country" class="form-control mx-2">
      </div>
    </form>
      </tab>
      <tab heading='Edit Photos'>
        <div class="form-group mt-2">
          <p>Photo edit will go here</p>
      </div>
      </tab>

    </tabset>
  </div>
</div>
